/* this is the css style sheet */
body {
	height: 100%;
	padding: 0;
	margin: auto;
}

#headerPic {
	background-image: url("Cosmos07.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center top;
	height: 700px;
	
}

#tittle {
	position: absolute;
	/*margin: auto;*/
	top: 40%;
	left: 50%;
	padding: 10px;
	transform: translate(-50%, -50%);
	background-color: white;
}